@use '../../Foundation/global'as *;

.c-shopHero {
  position: relative;
  display: flex;
  &__backGround {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    width: 50%;
    height: 500px;
    background-color: #eaddcf;
    opacity: .3;
    @include mq("tab") {
      height: 300px;
    }
  }
  &__img {
    height: 500px;
    width: 50%;
    @include mq("tab") {
      height: 300px;
    }
    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 10% 10%;
    }
  }
  &__titleBackground {
    width: 50%;
    background: rgb(63,180,77);
    background: linear-gradient(90deg, rgba(63,180,77,1) 35%, rgba(207,234,214,1) 90%);
  }
  &__titleBox {
    // position: absolute;
    // z-index: 10;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // position: relative;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 3% 0 5%;
    color: $color-background-sub;
  }
  &__topText {
    font-size: 32px;
    @include mq("tab") {
      font-size: 20px;
    }
    @include mq("sp") {
      font-size: 12px;
    }
  }
  &__title {
    font-size: 48px;
    @include mq("tab") {
      font-size: 30px;
      white-space: inherit;
    }
  }
  &__subTitle {
    font-size: 24px;
    @include mq("tab") {
      font-size: 14px;
    }
  }
  &__linefeed {
    display: none;
    @include mq("sp") {
      display: block;
    }
  }
  &__linefeedSub {
    display: none;
    @include mq("sp") {
      display: block;
    }
  }
  &__homeImg {
    width: 50%;
    & img {
      width: 100%;
    }
  }
  &__homeImg--right {
    width: 50%;
    & img {
      width: 100%;
    }
  }
  &__thumbnailImg {
    object-fit: fill !important;
  }
}